/*
Liqen Colors

Primary color:   #c6ef9e (Liqen Green for white background)
Secondary color: #3a5665 (Liqen Dark grey)
Tertiary color:  #78fd07 (Liqen Green for dark background)
*/
a {
  color: #3a5665;
}

a:hover {
  color: #3a5665;
}

mark {
  padding-left: 0;
  padding-right: 0;
  background: #c6ef9e;
}

/* Buttons */
.btn-primary {
  color: #3a5665;
  background-color: #c6ef9e;
  border-color: #c6ef9e;
}

.btn-primary:hover {
  color: #3a5665;
  background-color: #c6ef9e;
  border-color: #c6ef9e;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #c6ef9e;
  border-color: #c6ef9e;
}

.btn-tertiary {
  color: #3a5665;
  background-color: #78fd07;
  border-color: #78fd07;
}

.btn-tertiary:hover {
  color: #3a5665;
  background-color: #78fd07;
  border-color: #78fd07;
}

.btn-tertiary.disabled, .btn-tertiary:disabled {
  background-color: #78fd07;
  border-color: #78fd07;
}

/* Card */
.card {
  margin-bottom: 3em;
}

/* Navbar */
.navbar .navbar-brand {
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: #3a5665;
}
.navbar-light .navbar-brand:hover {
  color: #3a5665;
}

.navbar-inverse .navbar-brand {
  color: #78fd07;
}
.navbar-inverse .navbar-brand:hover {
  color: #78fd07;
}

/* Navs */
.nav-link {
  padding: .25rem .5rem
}

.nav-pills .nav-item .nav-link,
.nav-pills .nav-link {
  color: #666;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  border-radius: 0;
  color: #3a5665;
  cursor: default;
  background: none;
  border-bottom: 2px solid #3a5665;
}

/* Jumbotron */
.jumbotron {
  border-radius: 0;
}

/* Utilities / colors */
.text-primary {
  color: #c6ef9e !important;
}

.text-secondary {
  color: #3a5665 !important;
}

.text-tertiary {
  color: #78fd07 !important;
}

.bg-primary {
  background-color: #c6ef9e !important;
}

.bg-secondary {
  background-color: #3a5665 !important;
}

.bg-tertiary {
  background-color: #78fd07 !important;
}

.bg-primary a {
  color: #78fd07;
}

/* Liqen specific */
.night-panel {
  background: rgba(0,0,0,0.8);
  padding: 18px;
  padding-top: 60px;
  color: #FFF;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
}

.article-positioner {
  height: 100vh;
}

.article-container {
  margin: 0 auto;
  max-width: 600px;
}

@media all and (min-width: 720px) {
  .night-panel {
    display: block;
    width: 240px;
  }

  .article-positioner {
    margin-right: 240px;
  }
}

@media all and (min-width: 960px) {
  .night-panel {
    display: block;
    width: 320px;
  }

  .article-positioner {
    margin-right: 320px;
  }
}

.article-title {
  letter-spacing: -0.03em;
  line-height: 1.25;
}

.article-body {
  font-size: 20px;
  font-family: "Georgia",serif;
  line-height: 1.5;
  letter-spacing: 0.014em;
}

.question-container {
  text-align: center;
  padding: 1rem 2rem;
  border-bottom: 2px #999 solid;
  border-top: 2px #999 solid;
}

.question-id {
  color: #999;
  font-size: 32px;
  letter-spacing: -0.014em;
}

.question-title {
  font-size: 48px;
  font-family: Georgia, serif;
  line-height: 1.25;
  letter-spacing: -0.014em;
}

.qe-item {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.qe-image {
  display: block;
  background-size: cover;
  height: 10rem;
}

.qe-image img {
  width: 100%;
}

.qe-title {
  padding: 1rem 0 0 0;
  font-size: 1.25rem;
}

.qe-meta {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px #999 solid;
}

.qe-avatar-zone {
  width: 40px;
}

.qe-avatar {
  display: block;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-size: cover;
}

.qe-text {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: #666;
}

.medium-ih {
  text-align: center;
  padding: 1rem 2rem;
  border-bottom: 2px #999 solid;
}

.medium-ih-title {
  padding: 1rem 0 0.5rem 0;
  font-size: 32px;
  letter-spacing: -0.014em;
}

.medium-istep {
  padding: 2rem 0;
}

.medium-istep--disabled {
  opacity: 0.5;
}

.medium-istep-title {
  font-size: 24px;
}

.medium-istep-step1 {
  max-width: 500px;
  text-align: center;
  padding: 1rem;
}

.medium-istep-button span,
.medium-istep-button img {
  display: inline-block;
  vertical-align: baseline;
}
